body{
    margin:0px;
    padding: 0px;
    background-color: #282C33;
    font-family:'FiraCode';
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.bgColor{
    background-color: #282C33;
}

