body{
    margin:0px;
    padding: 0px;
    background-color: #282C33;
    font-family:'FiraCode';
    /* scroll-behavior: smooth; */
}
*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;
}
.bgColor{
    background-color: #282C33;
}
.a-class-with-black-text-set-as-important{
    color:#fff !important;
}
/* scroll bar desigin */
::-webkit-scrollbar{
    width: 8px;
    background-color: #282C33;
}
::-webkit-scrollbar-thumb{
    background-color: #C778DD;
    border-radius: 10px;
}
