body{
    margin:0px;
    padding: 0px;
    background-color: #282C33;
    font-family:'FiraCode';
}
*{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.bgColor{
    background-color: #282C33;
}